$color-primary: #0D80D8;
$color-primary-light: #E9F5FF;
$color-primary-dark: #1D5B8E;
$color-secondary: #00b065;
$color-mono: #11181D;
$color-mono-lightest: #ffffff;

$media-xs:  375px;
$media-sm:  768px;
$media-lg:  1024px;

body {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 2rem;
}

.page-title {
  margin: 3rem 0;
  text-align: center;
  font-weight: 300;
}

// Bootstrap overrides
.btn {
  border-radius: 6px;
}

.btn-success {
  background: $color-secondary;
  border-color: transparent;

  &:hover {
    background-color: #25d284;
    box-shadow: 2px 2px 10px #afffc7;
    border-color: transparent;
  }
}

.btn-primary {
  background: $color-primary;
  border-color: transparent;

  &:hover {
    background-color: lighten($color-primary, 20%);
    box-shadow: 2px 2px 10px lighten($color-primary, 30%);
    border-color: transparent;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;  

  &__logo {
    display: block;
    width: 280px;
    margin: 0 auto;
    text-align: center;
  }

  &__list {
    display: flex;
    margin: 0;    
    list-style: none;
    width: 100%;
    grid-gap: 2rem;
    align-items: center;  
  }

  &__link {
    color: $color-mono;

    &:hover {
      color: $color-primary;
      text-decoration: none;
    }
  }

  &__login {
    display: flex;
    flex-wrap: nowrap;
    grid-gap: 2rem;
    white-space: nowrap;
    align-items: center;
  }

  @media (max-width: $media-sm) {
    &__list,
    &__login {
      display: none;
    }
  }
}

.sales-upsell {

  &__title {
    font-weight: 300;
  }

  @media (min-width: $media-sm) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
  }
}

.pricing {
  display: grid;
  font-size: 1.1rem;
  margin-bottom: 2rem;

  &__title {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__price {
    font-size: 2rem;
    font-weight: bold;

    &-duration {
      font-size: 1.5rem;
    }
  }

  &__item {
    padding: 3rem;
    background: $color-primary-light;
    text-align: center;
    color: $color-primary;


    &--primary {
      position: relative;
      background: $color-primary;
      color: $color-mono-lightest;

      .MuiInputBase-input {
        color: $color-mono-lightest;
      }


      &::after {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        bottom: -3rem;
        height: 3rem;
        background: linear-gradient(to top left, transparent 0%, transparent 50%, $color-primary 50%, $color-primary 100%);
      }
    }

    &--secondary {
      padding-top: 4rem;

      .MuiInputBase-input {
        color: $color-primary;
      }
      
      .MuiSlider-track {
        background: $color-primary;
      }
    }
  }

  &__term {
    text-align: left;
  }

  &__slider {
    display: grid;
    grid-template-columns: 18fr 2fr;
    grid-gap: 1rem;

    .MuiSlider-thumb {
      width: 2rem;
      height: 2rem;
      margin-top: -0.5rem;
      background: $color-mono-lightest;
    }

    .MuiSlider-track,
    .MuiSlider-rail {
      height: 1rem;
    }

    .MuiSlider-track {
      border-radius: 1rem 0 0 1rem;
      background: $color-mono-lightest;
    }

    .MuiSlider-rail {
      border-radius: 1rem;
      opacity: 1;
      background: $color-primary-dark;
    }

    .MuiInput-underline::before {
      border-bottom: none;
    }

    .MuiInputBase-root {
      width: 100%;
      padding-top: 0.5rem;
    }

    &-container {
      margin-bottom: 2rem;
    }

    &-description {
      text-align: center;
    }
  }

  @media (min-width: $media-sm) {
    grid-template-columns: 1fr 1fr;

    &__price {
      font-size: 5rem;
      font-weight: bold;
      user-select: none;

      &-duration {
        font-size: 2rem;
      }
    }

    &__item {
      position: relative;
      padding: 3rem 4rem 10rem;
      background-position: bottom center;
      background-repeat: no-repeat; 
      background-size: contain;

      &--primary {
        z-index: 1;
        background-image: url('/resources/images/primary-background.svg');
      }

      &--secondary {
        background-image: url('/resources/images/secondary-background.svg');
      }
    }

    &__item--primary::after {
      width: 4rem;
      height: 100%;
      right: -4rem;
      left: auto;
      bottom: 0;
    }

    &--secondary {
      padding-top: 0;
      padding-left: 2rem;
    }
  }
}


.octopus {
  display: none;
  animation-iteration-count: infinite;
  transform-origin: center;
  position: absolute;
  left: 50%;
  margin-left: -1rem;  

  &--floating {
    animation-name: floating-octopus;
    animation-duration: 30s;
  }

  &--caught {
    animation-name: caught-octopus;
    animation-duration: 3s;
    animation-delay: 1s;
  }

  @media (min-width: $media-sm) {
    position: absolute;
    bottom: 2.5rem;
    width: 2rem;
    height: 2rem;
    display: block;
  }  
}

@keyframes floating-octopus {
  0%   { 
    left: 10%;
    transform: scale(1) rotate(0deg) translate(0);
  }
  12.5%  {
    transform: scale(1.2) rotate(10deg) translate(20px,10px);
  }
  25%  {
    transform: scale(1) rotate(-10deg) translate(30px,10px);
  }
  37.5% {
    transform: scale(1.2) rotate(10deg) translate(50px,20px);
  }
  50%  {
    left: 80%;    
    transform: scale(1) rotate(-10deg) translate(100px,10px);
  }
  62.5% {
    transform: scale(1.2) rotate(10deg) translate(50px,20px);
  }
  75% {
    transform: scale(1) rotate(-10deg) translate(30px,10px);
  }
  87.5% {
    transform: scale(1.2) rotate(10deg) translate(10px,20px);
  }
  100% {
    left: 10%;     
    transform: scale(1) rotate(0deg) translate(0);
  }
}

@keyframes caught-octopus{
  from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }

    5% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }

    10% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }

    15% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
      margin-bottom: -0.5rem;
    }

    20% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }

    25% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }

    30% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }    

    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
}