$color-primary: #0D80D8;
$color-primary-light: #E9F5FF;
$color-secondary: #00b065;
$color-mono: #11181D;
$color-mono-lightest: #ffffff;

$media-xs:  375px;
$media-sm:  768px;
$media-lg:  1024px;

body {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 2rem;
}

.page-title {
  margin: 3rem 0;
  text-align: center;
  font-weight: 300;
}

// Bootstrap overrides
.btn {
  border-radius: 6px;
}

.btn-success {
  background: $color-secondary;
  border-color: transparent;

  &:hover {
    background-color: #25d284;
    box-shadow: 2px 2px 10px #afffc7;
    border-color: transparent;
  }
}

.btn-primary {
  background: $color-primary;
  border-color: transparent;

  &:hover {
    background-color: lighten($color-primary, 20%);
    box-shadow: 2px 2px 10px lighten($color-primary, 30%);
    border-color: transparent;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;  

  &__logo {
    display: block;
    width: 280px;
    margin: 0 auto;
    text-align: center;
  }

  &__list {
    display: flex;
    margin: 0;    
    list-style: none;
    width: 100%;
    grid-gap: 2rem;
    align-items: center;  
  }

  &__link {
    color: $color-mono;

    &:hover {
      color: $color-primary;
      text-decoration: none;
    }
  }

  &__login {
    display: flex;
    flex-wrap: nowrap;
    grid-gap: 2rem;
    white-space: nowrap;
    align-items: center;
  }

  @media (max-width: $media-sm) {
    &__list,
    &__login {
      display: none;
    }
  }
}

.sales-upsell {

  &__title {
    font-weight: 300;
  }

  @media (min-width: $media-sm) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
  }
}

.pricing {
  display: grid;
  font-size: 1.1rem;

  &__title {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__price {
    font-size: 4rem;
    font-weight: bold;

    &-duration {
      font-size: 1.5rem;
    }
  }

  &__item {
    padding: 3rem;
    background: $color-primary-light;
    text-align: center;
    color: $color-primary;


    &--primary {
      position: relative;
      background: $color-primary;
      color: $color-mono-lightest;


      &::after {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        bottom: -3rem;
        height: 3rem;
        background: linear-gradient(to top left, transparent 0%, transparent 50%, $color-primary 50%, $color-primary 100%);
      }
    }

    &--secondary {
      padding-top: 4rem;
    }
  }

  &__term {
    text-align: left;
  }

  &__slider {

    &-description {
      text-align: center;
    }
  }

  @media (min-width: $media-sm) {
    grid-template-columns: 1fr 1fr;

    &__price {
      font-size: 5rem;
      font-weight: bold;

      &-duration {
        font-size: 2rem;
      }
    }

    &__item {
      position: relative;
      padding: 3rem 3rem 10rem;
      background-position: bottom center;
      background-repeat: no-repeat; 
      background-size: contain;

      &--primary {
        z-index: 1;
        background-image: url('/resources/images/primary-background.svg');
      }

      &--secondary {
        background-image: url('/resources/images/secondary-background.svg');
      }
    }

    &__item--primary::after {
      width: 4rem;
      height: 100%;
      right: -4rem;
      left: auto;
      bottom: 0;
    }

    &--secondary {
      padding-top: 0;
      padding-left: 2rem;
    }
  }
}


.octopus {
  display: none;
  animation-iteration-count: infinite;
  transform-origin: center;
  position: absolute;
  left: 50%;
  margin-left: -1rem;  

  &--floating {
    animation-name: floating-octopus;
    animation-duration: 5s;
  }

  &--caught {
    animation-name: caught-octopus;
    animation-duration: 3s;
    animation-delay: 1s;
  }

  @media (min-width: $media-sm) {
    position: absolute;
    bottom: 2.5rem;
    width: 2rem;
    height: 2rem;
    display: block;
  }  
}

@keyframes floating-octopus {
  from,
    20%,
    53%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -30px, 0) scaleY(1.1);
    }

    70% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -15px, 0) scaleY(1.05);
    }

    80% {
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0) scaleY(0.95);
    }

    90% {
      transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
}

@keyframes caught-octopus{
  from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }

    5% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }

    10% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }

    15% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
      margin-bottom: -0.5rem;
    }

    20% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }

    25% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }

    30% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }    

    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
}